body{
    background:linear-gradient(#104e8d, #318ce7);
    background-attachment: fixed;
    background-size: cover; 
}

header {

    display: none;
}

#canvas {

    border: 2px solid #ffffff ;
    border-radius: 60px;
    display: none;
}

#fin {

    display: none;
}

.centrer {

    text-align: center;
}

.isoler-haut {

    margin-top: 25px;
}


#menu{
    color: white;
    font-size: 150%;
    
}

.jumbotron h1{
    font-size: 300%;

    font-family: Nabla;
}

.commencer{
    font-size: 120%;
    background-image:linear-gradient(to bottom, #f7d9a1, #ffffff);
    border-color:#ffffff;
    border: 10px;
    border-radius: 5px;
    color: #f8be55;
    padding: 10px;
    cursor: pointer;
    
}

#jeu{

font-size: 420%
}
